<label for="{{this.labelFor}}">{{this.displayName}}:</label>
<input type="{{this.type}}" id="{{this.labelFor}}" name="{{this.field}}" placeholder="{{this.placeholder}}" {{#if this.fieldsDisabled}}disabled="disabled"{{/if}}/>
